.side-ber
  .side-ber__user-name
    .side-ber__user-name__top-items
      .side-ber__user-name__top-items__name
        masa
      .side-ber__user-name__top-items__icons
        = link_to "#" do
          = icon('fa', 'edit',  class: "side-ber__user-name__top-items__icons__btn--icon")
        = link_to "#" do
          = icon('fa', 'cog',  class: "side-ber__user-name__top-items__icons__btn--icon")

  .side-ber__group-list
    .side-ber__group-list__group
      .side-ber__group-list__group__name
        techcamp
      .side-ber__group-list__group__message
        まだメッセージがありません
    .side-ber__group-list__group
      .side-ber__group-list__group__name
        techcamp
      .side-ber__group-list__group__message
        まだメッセージがありません
